<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Coordinates</title>
    <style>
        body {
            /*background-color: black;*/
            color: black;
        }

        p {
            font-size: 48px;
        }

        p span {
            color: black;
        }
    </style>
</head>
<body>
<p>
    ------------Selected Coordinates------------ <br/>
    Latitude: <span>{{ message.lat }}</span> <br/>
    Longtitude: <span>{{ message.long }}</span>
</p>
</body>
</html>